---
import OpenApiGuiSwagger from '@astro-openapi/gui-swagger/OpenApiGuiSwagger.astro';
// import OpenApiGuiRedoc from '@astro-openapi/gui-redoc/OpenApiGuiRedoc.astro';
const SITE_TITLE = 'Lylics API Reference';
const schemaUrl = 'http://localhost:4321' //OPENAPI_DEFINITION_URL;

// export function getStaticPaths() {
// 	return (
// 		[
// 			//
// 			// 'redoc',
// 			'swagger',
// 		]
// 			//
// 			.map((gui) => ({
// 				params: { gui },
// 			}))
// 	);
// }
// export const prerender = true;

// const { gui } = Astro.params;
const gui = 'swagger';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>API Reference — {SITE_TITLE}</title>
	</head>

	<body class={gui}>
		{gui === 'swagger' && <OpenApiGuiSwagger {schemaUrl} />}

		<!-- {gui === 'redoc' && <OpenApiGuiRedoc {schemaUrl} />} -->

	</body>
</html>
